.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  color: #212121;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  min-width: 320px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.clients__link {
  border: 1px solid #afb1b8;
  display: flex;
  width: 210px;
  height: 92px;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}
.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.clients__logo {
  fill: currentColor;
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-container {
  display: block;
  flex-wrap: nowrap;
  align-items: baseline;
}
@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 1199px) {
  .footer-contacts {
    margin-bottom: 54px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-contacts {
    margin-left: 76px;
  }
}

.footer-logo {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  margin-right: 0;
  padding: 0;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
  font-family: Raleway;
  line-height: 1.2;
  text-decoration: none;
}
@media screen and (max-width: 1199px) {
  .footer-logo {
    text-align: center;
    font-size: 24px;
  }
}

.footer-logopart {
  color: #ffffff;
}

.address-item {
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
@media screen and (max-width: 1199px) {
  .address-item {
    text-align: center;
  }
  .address-item:not(:last-child) {
    margin-bottom: 8px;
  }
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}
.address-link:hover, .address-link:focus {
  color: #2196f3;
}
.address-link .address-link.address-city {
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.add {
  margin-left: 0;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .add {
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .add {
    margin-left: 59px;
  }
}

.add-title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
}
@media only screen and (max-width: 1199px) {
  .add-title {
    text-align: center;
  }
}

.add-list {
  display: flex;
  justify-content: center;
}

.add-item:not(:last-child) {
  margin-right: 10px;
}

.add-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.add-link:hover, .add-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.add-logo {
  fill: currentColor;
}

.footer-sign {
  width: 100%;
  margin-left: 0;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-sign {
    margin-left: 93px;
    width: auto;
  }
}

.footer-sign-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .footer-sign-title {
    text-align: center;
  }
}

.footer-sign-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1199px) {
  .footer-sign-form {
    display: block;
  }
}

.footer-sign-input {
  display: inline-block;
  width: 358px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  line-height: 1.3px;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2f303a;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-sign-input:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .footer-sign-input {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-sign-input {
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
    width: 450px;
  }
}

.btn-wrap {
  display: flex;
  margin: 0;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .btn-wrap {
    margin-left: 11px;
  }
}

.footer-sign-btn {
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-sign-icon {
  margin-left: 10px;
}

header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  gap: 30px;
  margin-left: 93px;
}
@media screen and (max-width: 767px) {
  .header__list {
    display: none;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 21px;
}
@media screen and (min-width: 768px) {
  .header__nav {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header__logopart {
  color: #000000;
}

.header__link-nav {
  text-decoration: none;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link-nav:hover, .header__link-nav:focus {
  color: #2196f3;
}

.header__item {
  position: relative;
}

.header__contacts-nav {
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .header__contacts-nav {
    display: none;
  }
}
.header__contacts-nav:hover, .header__contacts-nav:focus {
  color: #2196f3;
}

.header__icon {
  margin-right: 10px;
  fill: currentColor;
}

.current {
  color: #2196f3;
}
.current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  position: absolute;
  display: block;
  bottom: -29px;
  left: 0;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .current::after {
    bottom: -31px;
  }
}

.logo {
  text-decoration: none;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.contacts {
  display: flex;
  gap: 50px;
  margin-right: 0;
  align-items: baseline;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    flex-direction: column;
    gap: 10px;
  }
}

.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/bg-img_sm@1x.jpeg");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/bg-img_sm@2x.jpeg");
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/background/bg-img_md@1x.jpeg");
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/bg-img_md@2x.jpeg");
  }
}
@media screen and (min-width: 769px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/background/bg-img_lg@1x.jpeg");
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/bg-img_lg@2x.jpeg");
  }
}

.hero__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
  }
}

.hero__button {
  border: 0;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  padding: 18px 24px;
}
@media screen and (min-width: 768px) {
  .hero__button {
    padding: 10px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
  }
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 150ms ease, visibility 250ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  min-height: 609px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms linear;
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, 70%);
}

.btn-modal {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-8px, 8px);
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: inline-flex;
  align-items: center;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.input-wrap {
  position: relative;
  margin-bottom: 10px;
}

input {
  padding-left: 42px;
}

.input-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover + .input-icon, .modal-input:focus + .input-icon {
  fill: #2196f3;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
  outline: none;
}
.modal-input:hover, .modal-input:focus {
  border-color: #2196f3;
}

.modal-text::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  -moz-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  -ms-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text:hover .modal-text::-moz-placeholder {
  color: #2196f3;
}
.modal-text:hover .modal-text:-ms-input-placeholder {
  color: #2196f3;
}
.modal-text:hover .modal-text::placeholder {
  color: #2196f3;
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 12px 16px;
  color: #757575;
  outline: none;
}

.btn-form {
  text-align: center;
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 52px;
  border: none;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.check {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
}
.check::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 3px;
  margin-right: 8px;
}

.input-check:checked + .check::before {
  background-position: center;
  background-color: #2196f3;
  border: transparent;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url(../images/check.svg);
}

.rules {
  color: #2196f3;
}

.check-field {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover, .portfolio-link:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-text {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.filtr {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-definishion {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-card-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-text-overlay {
  position: absolute;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  bottom: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover .portfolio-text-overlay, .portfolio-link:focus .portfolio-text-overlay {
  transform: translateY(0);
}

.filtr-button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filtr-button:hover, .filtr-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.properties__list {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.properties__item {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .properties__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .properties__item {
    width: 270px;
  }
}

.properties__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .properties__title {
    text-align: center;
  }
}

.properties__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.properties__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.team {
  background-color: #f5f4fa;
}

.team__title {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17px;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.team__list {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team__item {
  color: #212121;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}

.team__details {
  text-align: center;
  padding: 30px 0px;
}

.team__name {
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.2;
  color: #212121;
}

.team__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 16px;
  text-align: center;
}

.team__icon-wrapping {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team__icon-item {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  background-color: #ffffff;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__icon-item:hover, .team__icon-item:focus {
  background-color: #2196f3;
  color: #ffffff;
  border: none;
}

.team__icon-sochial {
  fill: currentColor;
}

.work {
  padding-top: 0;
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.work__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.work__item {
  position: relative;
}

.work__toptext {
  width: 100%;
  height: 70px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  padding-top: 27px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #212121;
  background-color: #fff;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.page-header .container {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #ffffff;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.mobile-menu {
  margin-bottom: 180px;
}

.mobile-menu__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  color: #212121;
  text-decoration: none;
}

.mobile-menu__link-current {
  color: #2196f3;
}

.mobile-menu__contacts {
  margin-bottom: 65px;
}

.mobile-menu__contacts-item {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.mobile-menu__contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__contacts-link {
  color: #757575;
  text-decoration: none;
}

.mobile-menu__link:hover, .mobile-menu__link:focus,
.mobile-menu__contacts-link:hover,
.mobile-menu__contacts-link:focus {
  color: #2196f3;
}

.link-current {
  font-size: 34px;
  color: #2196f3;
}

.mobile-menu__sochial {
  display: flex;
  flex-wrap: wrap;
}

.mobile-menu__sochial-item {
  cursor: pointer;
}
.mobile-menu__sochial-item:not(:last-child) {
  border-right: 1px solid #2196f3;
  padding-right: 10px;
}
.mobile-menu__sochial-item:not(:first-child) {
  padding-left: 10px;
}

.mobile-menu__sochial-link {
  text-decoration: none;
  color: #2196f3;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}/*# sourceMappingURL=main.css.map */