.properties__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.properties__item {
  width: 450px;
  outline: 2px solid tomato;

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.properties__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.properties__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.properties__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: $secondary-primery-color;
  border-radius: 4px;
  margin-bottom: 30px;
}
